// 间距样式 margin、padding

// margin
.margin-l10-r10{
    margin-left:10px !important;
    margin-right:10px !important;
   }
   .margin-l15-r15{
      margin-left:15px !important;
      margin-right:15px !important;
   }
   .margin-l30-r30{
    margin-left:30px !important;
    margin-right:30px !important;
   }
   .margin-t30 {
    margin-top: 30px !important;
   }
   .margin-t20 {
    margin-top: 20px !important;
   }
   .margin-t10 {
    margin-top: 10px !important;
   }
   .margin-t0 {
    margin-top: 0px !important;
   }
   .margin-r30{
    margin-right:30px !important;
   }
   .margin-r20{
    margin-right:20px !important;
   }
   .margin-r15{
    margin-right:15px !important;
   }
   .margin-r0{
    margin-right:0px !important;
   }
   .margin-b30{
    margin-bottom:30px !important;
   }
   .margin-b25 {
     margin-bottom:25px !important;
   }
   .margin-b20{
    margin-bottom:20px !important;
   }
   .margin-b10{
    margin-bottom:10px !important;
   }
   .margin-b0{
    margin-bottom:0px !important;
   }
   .margin-l10 {
     margin-left: 10px !important;
   }
   .margin-l20 {
     margin-left: 20px !important;
   }
   
   // padding
   .padding-l30-r30{
     padding-left:30px !important;
     padding-right:30px !important;
   }
   .padding-l20-r20{
    padding-left:20px !important;
    padding-right:20px !important;
   }
   .padding-t30{
    padding-top:30px !important;
   }
   .padding-t20{
    padding-top:20px !important;
   }
   .padding-t10{
    padding-top:10px !important;
   }
   .padding-t0{
    padding-bottom:10px !important;
   }
   .padding-r30{
    padding-right:30px !important;
   }
   .padding-r20{
    padding-right:20px !important;
   }
   .padding-r10{
    padding-right:10px !important;
   }
   .padding-r0{
    padding-right:0px !important;
   }
   .padding-b30{
    padding-bottom:30px !important;
   }
   .padding-b20{
    padding-bottom:20px !important;
   }
   .padding-b10{
    padding-bottom:10px !important;
   }
   .padding-l10{
    padding-left:10px !important;
   }
   .padding-l30{
     padding-left:30px !important;
    }
   .padding-l0{
    padding-left:0px !important;
   }
   .padding-30{
     padding:30px !important;
   }
   .padding_22_18 {
     padding: 22px 18px!important;
   }
   