.detail-pannel {
    margin:0 0 18px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(227, 232, 237, 0.6);
    border-radius: 4px;
    .title {
        margin: 0 0 14px;
    }
    .content { 
        display: flex;
        .name {
            color: #9FA2A8;;
        }
        li {
            margin: 0 0 12px;
        }
    }
    .cols-3 > .list {
        width: 33.33%;
    }
    .cols-2 > .list {
        width: 50%;
    }

    .remark-list li {
        line-height: 26px;
        span { margin: 0 15px 0 0; color: #9FA2A8;}
    }
    .product {
        .ant-image {
            vertical-align: top;
        }
    }
    .highlight1 {
        color: #EE3C3C;
    }
}