.setting_personal_infohead {
    >p {
        color: #0E1726;
        line-height: 20px;
    }
}

.setting_personal_form {
    .ant-form-item-label {
        >label {
            width: 100px!important;
            justify-content: flex-end;
            line-height: 1;
            margin-right: 12px;
            &:before {
                display: none!important;
            }
            &:after {
                display: inline-block;
                margin-right: 4px;
                color: #ff4d4f;
                font-size: 14px;
                font-family: SimSun, sans-serif;
                line-height: 1;
                content: '*';
            }
        }
    }
    .inp_width_874 {
        width: 874px;
        border-radius: 4px;
        border: 1px solid #EAEAEA;
    }
}